<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <!-- Workaround for TargetInvocationException. See https://github.com/HandyOrg/HandyControl/issues/793 -->
    <AppContextSwitchOverrides value="Switch.System.Windows.Interop.MouseInput.OptOutOfMoveToChromedWindowFix=true; Switch.System.Windows.Interop.MouseInput.DoNotOptOutOfMoveToChromedWindowFix=true " />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>