<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <!-- Workaround for TargetInvocationException. See https://github.com/HandyOrg/HandyControl/issues/793 -->
    <AppContextSwitchOverrides value="Switch.System.Windows.Interop.MouseInput.OptOutOfMoveToChromedWindowFix=true; Switch.System.Windows.Interop.MouseInput.DoNotOptOutOfMoveToChromedWindowFix=true " />
  </runtime>
</configuration>