<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap10 rescap">

  <Identity
    Name="MisakaProject.MisakaTranslator"
    Publisher="CN=MisakaProject"
    Version="0.0.0.0" />

  <Properties>
    <DisplayName>MisakaTranslator</DisplayName>
    <PublisherDisplayName>MisakaProject</PublisherDisplayName>
    <Logo>Assets\PackageLogo.png</Logo>
    <uap10:PackageIntegrity>
      <uap10:Content Enforcement="on" />
    </uap10:PackageIntegrity>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="MSIXCore.Desktop" MinVersion="6.1.7601.0" MaxVersionTested="10.0.14256.0" />
    <TargetDeviceFamily Name="MSIXCore.Server" MinVersion="6.1.7601.0" MaxVersionTested="10.0.14256.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="allowElevation" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="MisakaTranslator"
        Description="MisakaTranslator"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\MediumTile.png"
        Square44x44Logo="Assets\AppIcon.png">
        <uap:DefaultTile
          Wide310x150Logo="Assets\WideTile.png"
          Square310x310Logo="Assets\LargeTile.png"
          Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>
    </Application>
  </Applications>

</Package>
