    <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
    <package id="Config.Net" version="4.14.23" targetFramework="net461" />
    <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
    <package id="HZH_Controls" version="1.0.11" targetFramework="net461" />
    <package id="MaterialSkin" version="0.2.1" targetFramework="net461" />
    <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
    <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
    <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
    <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net461" />
    <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net461" />
    <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net461" />
    <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net461" />
    <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net461" />
    <package id="System.Memory" version="4.5.3" targetFramework="net461" />
    <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
    <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
    <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net461" />
    <package id="System.Security.Permissions" version="4.7.0" targetFramework="net461" />
    <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net461" />
    <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net461" />
    <package id="System.Text.Json" version="4.7.0" targetFramework="net461" />
    <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
    <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
    <package id="Tesseract" version="3.3.0" targetFramework="net461" />
    <package id="HZH_Controls" version="1.0.11" targetFramework="net461" />
    <package id="MaterialSkin" version="0.2.1" targetFramework="net461" />
    <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
</packages>